/* HEADER */

.dt-header {
    width: 100%;
    margin: 0 auto;
    margin: 0px auto;
    user-select: none;
    background-color: #0d76d85d;
    overflow: hidden;
    position: relative;
}

.dt-header .wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.dt-header .wrapper .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 870px;
}

.dt-header .wrapper .header-content .teste {
    display: flex;
    flex-direction: column;
    gap: 147px;
    height: 900px;
    padding-top: 40px;
}

.dt-header .wrapper .header-content .header-info {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.dt-header .wrapper .header-content .header-info h1 {
    font-family: "Nunito-Black";
    font-size: 62px;
    width: 457px;
    line-height: 140%;
    color: #27292E;
}

.dt-header .wrapper .header-content .header-info p {
    font-family: "Nunito-Regular";
    color: #585C65;
    line-height: 180%;
    font-size: 18px;
    width: 383px;
}

.dt-header .wrapper .header-content .header-info button {
    background-color: #0D76D8;
    padding: 15px 42px;
    border-radius: 10px;
    color: #fff;
    font-family: "Nunito-Black";
    font-size: 18px;
    cursor: pointer;
    width: 200px;
    transition: .6s;
}

.dt-header .wrapper .header-content .header-info button:hover {
    background-color: #fff;
    color: #0D76D8;
}

.dt-header .wrapper .blur1 {
    background: #0D76D8;
    width: 300px;
    height: 300px;
    position: absolute;
    filter: blur(154px);
    z-index: -1;
}

.dt-header .wrapper .blur2 {
    background: #0D76D8;
    width: 300px;
    height: 300px;
    position: absolute;
    filter: blur(130px);
    z-index: -1;
    right: -350px;
    bottom: -51px;
}

/* NAVE */

.dt-header .dt-nave {
    background: linear-gradient(360deg, #0d76d8 0%, #66b6ff 100%);
    position: relative;
    width: 100%;
    height: 770px;
    left: 33%;
    border-radius: 60px 0 0 0;
}

.dt-header .dt-nave ul {
    display: flex;
    gap: 60px;
    padding: 40px 0 0 100px;
    color: #fff;
    font-family: "Nunito-Regular";
}

.dt-header .dt-nave .content-img1 {
    width: 458px;
    height: 681px;
    border: 10px solid rgba(255, 255, 255, 0.438);
    border-radius: 60px;
    position: absolute;
    left: -70px;
    bottom: -47px;
}

.dt-header .dt-nave .content-img1 figure {
    background-color: #C4C4C4;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.dt-header .dt-nave .content-img2 {
    width: 399px;
    height: 582px;
    border: 10px solid rgba(255, 255, 255, 0.438);
    border-radius: 60px;
    position: absolute;
    left: 412px;
    bottom: -47px;
}

.dt-header .dt-nave .content-img2 figure {
    background-color: #C4C4C4;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.dt-header .dt-nave div img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
}